html{
    height: 100%;
    overflow-x: hidden;
}
span {
	color:#404040;
	font-size: 25px;
	font-weight: bold;
}
li {
	list-style: none;
}
section {
	overflow:hidden;
	height:993px;
}
.content {
	margin-top:200px;
}
.curtains{
    width: 100%;
    z-index:1;
    position:relative;
}

.curtains>li{
    -webkit-transform:translateZ(0);
    background: white;
    position: fixed;
    display:block;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index:1;
}
.curtains>li.hidden{display:none;}
.curtains>li:first-child{z-index:2;}	

#whoAmI {
	background-color: #DCE6F2;
}
 	#yinpic img{
 		border-radius:20px;
 		margin:150px 30px 0 80px;
 		max-width:300px;
 		max-height: 700px;
 		overflow:hidden;
 		float:left;
 		box-shadow: 10px 10px 5px #888888;
 	}
 	#whoAmI h2 {
 		margin-top:150px;
 		font-size: 60px;
		font-family:cursive;
		color:#797C83;
 	}
 	#whoAmI p {
 		font-size:24px;
 		font-family:cursive;
 		color:#797C83;
 	}
	#whoAmI #button {
		border-radius:5px;
		font-family: cursive;
		font-size: 24px;
		font-weight: bold;
		color:orange;
		padding:10px 75px;
		text-decoration: none;
		border:1px solid orange;
		background-color:#FD5B78;
		box-shadow: 10px 10px 5px #888888;
	}

#move {
	background:url('images/bg-1.jpg') repeat;
}
 	#moveMain h2{
 		font-size: 80px;
		font-family:monospace,"Lucida Console", Courier;
		color:#FD5B78;
 	}
 	.back {
 		width:100%;
 		position:absolute;
 		
 	}
 	.front {
 		position:absolute;
 		
 	}
 	.front img {
 		opacity: 0.7;
 	} 	
 	#moveP {
 		margin-top:400px;
 		font-family:cursive;
 		font-size: 26px;
 		color:white; 
 	}


#project  {	
	background:url('images/bg-2.jpg') repeat ;
	background-size: cover;
}
	#projectMain a{
		text-decoration: none;
	}
	#projectMain span{
 		font-size: 80px;
		font-family:monospace,"Lucida Console", Courier;
		color:#FD5B78;
		border:1px solid orange;
		border-radius:10px;
 	}
 	#projectMain p {
 		font-size: 60px;
 		font-weight: bold;
		font-family:monospace,"Lucida Console", Courier;
		color:#FD5B78;
		border-radius: 50px;
		max-width:600px;
		height:100px;
		background-color: #F7EFD7;
		text-align: center;
		padding-top: 30px;
		box-shadow: 10px 10px 5px orange;
 	}
#personality {
	background: url('images/bg-3.jpg');
	background-size: cover;	
}
	#personality h2 {
		font-size: 40px;
		font-family:monospace,"Lucida Console", Courier;
		color:#FD5B78;
	}
	#personality p {
		font-size:26px;
		font-weight: bold;
		font-family:monospace,"Lucida Console", Courier;
		color:orange;
		margin-left:100px;
	}

 	#personality li{
		display: inline-block;
 	}
	#personality a {
		margin-left:10px;
	}
 	#personality img {
 		width:200px;
 		height:200px;
 		border-radius:10px;
 	}

#contact {
	background: url('images/bg-4.jpg') repeat;	
}
 	#contact h2 {
 		margin-top:150px;
 		font-size: 60px;
		font-family:cursive;
		color:#FD5B78;
	}
	#contact a {
		margin-left:100px;
		zoom:1;
	}
	#contact a:hover {
		zoom:5;
	}
	#contact p {
		font-size:26px;
		font-weight: 900;
		font-family:monospace,"Lucida Console", Courier;
		color:orange;
		margin-left:100px;
	}





